In [28]:
import pandas as pd

raw_csv = pd.read_csv('Absenteeism_data.csv')
df = raw_csv.copy()
df = df.drop(['ID'], axis=1)
#sorted(df['Reason for Absence'].unique())

reason_columns = pd.get_dummies(df['Reason for Absence'])
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns = reason_columns.drop(['check'], axis=1)
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True)

reason_type1 = reason_columns.iloc[:,1:14].max(axis=1)
reason_type2 = reason_columns.iloc[:,15:17].max(axis=1)
reason_type3 = reason_columns.iloc[:,18:21].max(axis=1)
reason_type4 = reason_columns.iloc[:,22:].max(axis='columns')

df = pd.concat([reason_type1, reason_type2, reason_type3, reason_type4, df], axis = 1)
df.columns.values
new_table = ['Reason_type1', 'Reason_type2', 'Reason_type3', 'Reason_type4','Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']
df.columns = new_table
df = df.drop(['Reason for Absence'], axis=1)

# checkpoint
df_reason = df.copy()
df_reason['Date'] = pd.to_datetime(df_reason['Date'], format ='%d/%m/%Y')

# extract the month

list_month = []
for i in range(df_reason.shape[0]):
    list_month.append(df_reason['Date'][i].month)
df_reason['Month'] = list_month

def day_to_weekday(date):
    return date.weekday()
df_reason['Day of the week'] = df_reason['Date'].apply(day_to_weekday)
df_reason = df_reason.drop(['Date'], axis = 1)

updated_table = ['Reason_type1', 'Reason_type2', 'Reason_type3', 'Reason_type4', 'Month',
       'Day of the week', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours' ]

df_reason = df_reason[updated_table]
df_updated = df_reason.copy()
df_updated['Education'] = df_updated['Education'].map({1:0,2:1,3:1,4:1})
df_preprocessed = df_updated.copy()
df_preprocessed.head()

,Reason_type1,Reason_type2,Reason_type3,Reason_type4,Month,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,0,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,0,7,3,289,36,33,239.554,30,0,2,1,2